################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS3750P04/bin
/CS3750P04/obj
*.user
