################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CS3750P04/bin/Debug/netcoreapp2.0
